.dk{
  margin-top: 150px;
  padding-left: 60px;
  width: 20%;
}

.tieu_de2{
  padding-left: 700px;
  color: brown;
}

.nutDK{
  color: var(--primary-color);
  text-align: center;
  text-decoration: none !important;
  font-size: 2rem;
}

.modal-body{
  font-size: 2rem;
}

body{
  font-size: 2rem;
}

.form-control{
  font-size: 1.5rem;
  height: 40px
}

.chudam{
  font-weight: 500;
}
